/*

colors:

  red:    #FF8487
  green:  #ACF56B
  blue:   #8CCFFF
  gold:   #FFDC6F

  back:   #9D0B19
  next:   #47900A

  gold:   #F1AC3C
  exp:    #55B0C1

  ol:     #9665A7
  heroes: #C272A6

*/

/* ===== base ===== */

html, body {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', 'Helvetica Neue', 'Tahoma', sans-serif;
  text-align: center;
  background: #000000;
  font-size: 14px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -ms-touch-action: manipulation
  touch-action: manipulation
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

input, select {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 0;
  border: none;
  font-size: 16px;
}

/* ===== components ===== */

.ui-meter {
  position: relative;
  display: block;
  font-size: 16px;
  text-align: center;
}

.ui-meter .count {
  display: inline-block;
  box-sizing: border-box;
  width: 60%;
  padding: 10px;
  text-align: center;
}

.ui-meter .button {
  position: absolute;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 20%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.ui-meter .button.add {
  right: 0;
}

.ui-meter .button.subtract {
  left: 0;
}

.ui-meter.gold {
  background-color: #F1AC3C;
}

.ui-meter.experience {
  background-color: #55B0C1;
}

/* ===== app ===== */

#root {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  min-height: 100%;
  background: #E0E0E0;
}

.header {
  padding: 8px;
  font-size: 28px;
}

button.next,
button.back,
.sectionheader {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 8px 12px;
  margin: 0;
  font-size: 20px;
  color: #FFFFFF;
  border: none;
}

button.back {
  text-align: left;
  background: #9D0B19;
  cursor: pointer;
  border-left: 12px solid rgba(255, 255, 255, 0.25);
  border-right: 12px solid transparent;
}

button.next {
  text-align: right;
  background: #47900A;
  cursor: pointer;
  border-right: 12px solid rgba(255, 255, 255, 0.25);
  border-left: 12px solid transparent;
}

button:disabled {
  background: #999999;
}

.sectionheader {
  text-align: center;
  background: #336699;
}

.loading {
  padding: 10px;
  font-size: 22px;
  font-style: italic;
}

.login {
  padding: 10px;
}

.login button {
  font-size: 20px;
  padding: 20px 40px;
  cursor: pointer;
}

.loadgame .game {
  position: relative;
}

.loadgame .game button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border: none;
  color: #FFFFFF;
  margin: 0;
  cursor: pointer;
}

.loadgame .game button.load {
  width: 100%;
  padding-right: 100px;
  background: #47900A;
}

.loadgame .game button.load .campaign {
  font-size: 14px;
  font-style: italic;
}

.loadgame .game button.delete {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  background: #9D0B19;
}

.gamesummary {
  box-sizing: border-box;
  width: 100%;
  color: #000000;
  background: #7A6FAE;
  padding: 10px;
  border-right: 12px solid rgba(255, 255, 255, 0.25);
  border-left: 12px solid transparent;
  cursor: pointer;
}

.gamesummary .gamename {
  font-size: 20px;
}

.gamesummary .campaign {
  font-size: 16px;
  font-style: italic;
}

.gamedetails .info {
  padding: 10px;
}

.gamedetails .info .name {
  font-size: 20px;
}

.gamedetails .info .campaign {
  font-size: 16px;
  font-style: italic;
}

.gamedetails .scenarios {
  padding: 10px;
}

.gamedetails .scenarios .scenario {
  box-sizing: border-box;
  padding: 5px;
  font-size: 18px;
}

.gamedetails .notes textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
}

.newscenario .list .scenario {
  font-size: 16px;
  padding: 10px;
}

.newscenario .list button {
  display: inline-block;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  color: #FFFFFF;
}

.newscenario .list button.overlord {
  background: #9D0B19;
}

.newscenario .list button.heroes {
  background: #47900A;
}

.overlordsummary {
  color: #000000;
  background: #9665A7;
  border-right: 12px solid rgba(255, 255, 255, 0.25);
  border-left: 12px solid transparent;
  font-size: 14px;
  cursor: pointer;
}

.overlordsummary .title {
  font-size: 20px;
}

.overlordsummary .wins {
  font-size: 16px;
}

.overlordsummary .experience {
  font-size: 16px;
}

.overlorddetails .experience {
  font-size: 16px;
  font-style: italic;
}

.overlorddetails .info {
  padding: 10px;
}

.overlorddetails .skills .skill,
.overlorddetails .items .item {
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px;
  padding-right: 110px;
  position: relative;
  border-bottom: 1px solid #000000;
}

.overlorddetails .skills .skill:first-child:last-child,
.overlorddetails .items .item:first-child:last-child {
  border-bottom: none;
}

.overlorddetails .skills button.delete,
.overlorddetails .items button.delete {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  color: #FFFFFF;
  background: #9D0B19;
  border: none;
  padding: 0 16px;
  margin: 0;
  font-size: 18px;
  cursor: pointer;
}

.heroes .summary {
  padding: 10px;
  color: #000000;
  background: #C272A6;
}

.heroes .summary .title {
  font-size: 20px;
}

.heroes .summary .wins {
  font-size: 16px;
}

.heroes .summary .experience {
  position: relative;
  font-size: 16px;
}

.heroes .summary .gold {
  position: relative;
  font-size: 16px;
}

.heroes .list {
  display: block;
  text-align: left;
}

.heroes .list .hero {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  background: #CCCCCC;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
}

.heroes .list .hero.warrior {
  background: #FF8487;
}

.heroes .list .hero.mage {
  background: #FFDC6F;
}

.heroes .list .hero.healer {
  background: #8CCFFF;
}

.heroes .list .hero.scout {
  background: #ACF56B;
}

.heroes .list .hero .name {
  font-size: 20px;
}

.heroes .list .hero .class {
  font-size: 16px;
}

.heroes .list .hero .experience {
  font-size: 16px;
  font-style: italic;
}

.herodetails .name {
  font-size: 20px;
}

.herodetails .class {
  font-size: 16px;
}

.herodetails .player {
  font-size: 16px;
}

.herodetails .experience {
  font-size: 16px;
  font-style: italic;
}

.herodetails .info {
  padding: 10px;
}

.herodetails .skills .skill,
.herodetails .items .item {
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px;
  padding-right: 110px;
  position: relative;
  border-bottom: 1px solid #000000;
}

.herodetails .skills .skill:first-child:last-child,
.herodetails .items .item:first-child:last-child {
  border-bottom: none;
}

.herodetails .skills button.delete,
.herodetails .items button.delete {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  color: #FFFFFF;
  background: #9D0B19;
  border: none;
  padding: 0 16px;
  margin: 0;
  font-size: 18px;
  cursor: pointer;
}

.additem input,
.addskill input {
  font-size: 20px;
  text-align: center;
}

.additem .items .item,
.addskill .skills .skill {
  text-align: center;
  margin: 1px 0;
}

.addskill.overlord .skills .skill {
  text-align: left;
}